{% extends 'mails/base.html'%}
{% block content %}
<style>
  h5{
  font-weight: bold;
  color: black;
  }


</style>

<div class="col-12">
    <a href="{% url 'mails:create_message' %}" class="btn btn-outline-dark" role="button">
        Add new Message
    </a>
</div>

{% for object in object_list %}
<div class="col-12">
    <br>
    <a href="{% url 'mails:view_message' object.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="fst-italic">Title: {{ object.title }}</h5>
            <small class="text-body-secondary">{{ object.create_at }}</small>
        </div>
        <p class="fst-italic">
            <i>Message Body:
                {% if object.body|length >= 100 %}
                {{ object.body|slice:"0:100" }}...
                {% else %}
                {{ object.body }}
                {% endif %}
            </i>
        </p>
    </a>
</div>

{% endfor %}
{% endblock %}