{% extends 'mails/base.html'%}
{% block content %}
<style>
    .container {
    display: flex;
    justify-content: space-between;
}
</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            Number of message: {{ object.pk }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{ object.body }}</p>
            <p class="card-text">{{ object.create_at }}</p>
        </div>
    </div>
</div>
{% endblock %}