{% extends 'mails/base.html'%}
{% block content %}
<style>
    .container {
    display: flex;
    justify-content: space-between;
}

</style>

<div class="container">
    <div class="card">
        <div class="card-header">
            Number of message: {{ object.pk }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Send time: {{ object.send_time }}</h5>
            <p class="card-text">Periodicity: every{{ object.period }}</p>
            <p class="card-text">Status: {{ object.status }}</p>
            <p class="card-text">Send to: {{ object.client.name }} {{ object.client.surname }} ({{ object.client }})</p>
            <p class="card-text">Message Title: {{ object.message }}</p>
            <p class="card-text">Message Body: {{ object.message.body}}</p>
            <a href="{% url 'mails:update_setup' object.pk %}" class="btn btn-primary">Update</a>
            <a href="{% url 'mails:delete_setup' object.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
