{% extends 'mails/base.html'%}
{% block content %}

<style>
  h1{
  font-weight: bold;
  color: black;
  }

</style>

<div class="col-12">
    <a href="{% url 'mails:create_setup' %}" class="btn btn-outline-dark" role="button">
        Add new Settings
    </a>
</div>

{% for object in object_list %}
<div class="col-6">
    <br>
    {% if object.author != user and not user.is_staff %}
    <a href="{% url 'mails:list_setup'%}" class="list-group-item list-group-item-action">
        {% else %}
        <a href="{% url 'mails:view_setup' object.pk %}" class="list-group-item list-group-item-action">
            {% endif %}
            <div class="d-flex w-100 justify-content-between">
                <h5 class="fst-italic">Send time: {{ object.send_time }} author: {{ object.author }}</h5>
            </div>
            <p class="fst-italic">
                <i>
                    to: {{ object.client.name }} {{ object.client.surname }} ({{ object.client }})
                </i>
            </p>
            <p class="fst-italic"><i>status: {{ object.status }}</i></p>
            <p class="fst-italic"><i>title of message: {{ object.message }}</i></p>
            <p class="fst-italic"><i>periodicity: every{{ object.period }}</i></p>

        </a>
</div>
{% endfor %}
{% endblock %}