{% extends 'mails/base.html'%}
{% block content %}

{% if object %}
  {% for object in object_list %}
  <style>
  h1{
  font-weight: bold;
  color: black;
  }

  </style>
    <a href="{% url 'mails:view_setup' object.pk %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="fst-italic">{{ object.send_time }}</h5>
      </div>
      <p class="fst-italic"><i>{{ object.client }}</i></p>
      <p class="fst-italic"><i>{{ object.status }}</i></p>
      <p class="fst-italic"><i>{{ object.period }}</i></p>
    </a>
  {% endfor %}
{% else %}
  <h1>No settings, to add click ---------------------⬆</h1>
{% endif %}
{% endblock %}